body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: url(assets/mars.jpg)  no-repeat center center fixed;
  background-size: cover;
  

}
.text {
  text-align: center;
  font-family: fantasy;
  font-size: 6em;
  margin: auto;
  /* color:coral */
}
/* textarea {
  
} */
button {
  background-color: tan;
}
.nav {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.9);
  background-color:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  /* background: transparent; */

}
.navBtn {
  position: fixed;
  width: 30px;
  background: transparent;
  border: none;
  color: black;
  bottom: 0;
  z-index: 10;
  

  /* left: 0;
  bottom: 0; */
}

  .framer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.buttons {
  position: fixed;
  top: 90%;
  display: flex;
  gap: 4px

}
#lightTextArea {
  background: transparent;
  border-radius: 15px;
  border-color: black;
  position: absolute;
  right:10px;
  height: 100px;
  top:15px;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.9);
  outline: none;



}
#darkTextArea {
  background: transparent;
  border-radius: 15px;
  border-color: coral;
  color: gold;
  position: absolute;
  right:10px;
  height: 100px;
  top:15px;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.9);
  outline: none;
}

p {
  margin-left: 10px;
}
.input{
  accent-color: tan;

}
.settingBtn {
  color:tan;

}

.buttons button {
  width: 70px;
  border-radius: 10px;
}

#stopVoice{
  border-radius: 10px;
  margin-left: 10px;

}
.flyingO {
  position: relative;
  width: 200px;
  height: 130px;
  margin-bottom: 45px;


}
.flyingMiniO {
  position: relative;
  width: 105px;
  height: 80px;
  /* margin-top: 100px; */

}
.lightTypeBtn {
  position: absolute;
  right:10px;
  top:15px;
  background: transparent;
  color: black;
  border: none;
}
.darkTypeBtn {
  position: absolute;
  right:10px;
  top:15px;
  background: transparent;
  color: coral;
  border: none;
}

.closeType {
  position: absolute;
  right: 13px;
  top: 120px;
  font-size: 9px;


}
.asteroid1 {
  position: absolute;
  width: 500px;
  left: -100px;
  display: none;
}
.asteroid2 {
  position: absolute;
  width: 500px;
  right: -70px;
  display: none;
}

/* .framer-div div {
  background: brown;
  border-radius: 30px;
  position: relative;
  left: 600px;
  bottom:30px;
  width: 100px;
  height: 100px;
} */
  /* margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg)
}

.framer-div div:before {
  border-bottom: 80px solid red;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
}

.framer-div div:after {
  position: absolute;
      display: block;
      color: red;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid red;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
} */


