[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywhatkit = "*"
datetime = "*"
wikipedia = "*"
beautifulsoup4 = "*"
pyowm = "*"
pyjokes = "*"
twilio = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
